/*CSS reset*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Custom properties*/

/*Generics*/

/*Utilties*/
.container{
    border: solid red 1px;
}
.bg_lightyellow{
    background-color: rgb(244, 244, 189);
}
/*GRID*/
#grid{
    margin: 0 auto;
    border: dashed white 1px;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
}
.cell{
    flex-basis: calc(100% / 8);
    height: calc(100% / 8);
    border: solid white 1px;
    cursor: pointer;
}

.cell.clicked{
    background-color: green;
}