/*CSS reset*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Custom properties*/

/*Generics*/

/*Utilties*/
.container{
    border: solid red 1px;
}
.bg_lightyellow{
    background-color: rgb(244, 244, 189);
}
/*GRID*/
#grid{
    margin: 0 auto;
    border: dashed white 1px;
}